.user-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color:blanchedalmond;
}

.avatar {
    margin-right: 10px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
